.user-item {
    width: 600px;
    margin: 0 auto;
    list-style-type: none;
    margin-bottom: 20px;
}

.user-item_content {
    display: flex;
    align-items: center;
}

.user-item_img {
    margin-right: 25px;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 25px;
    margin: 0;
    line-height: 1;
}

h3 {
    font-size: 18px;
    line-height: 1;
}